# --- Python 通用忽略 ---
__pycache__/
*.py[cod]
*$py.class

# --- 虚拟环境 (你的 conda 环境) ---
.env
.venv
env/
venv/
ENV/
.conda/

# --- 构建和打包产物 (解决你之前的 egg-info 问题) ---
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- C/C++ 编译产物 (Robot/Habitat 相关) ---
*.so
*.o
*.a

# --- IDE 配置文件 (不想同步个人的编辑器设置) ---
.idea/
.vscode/
*.swp

# --- 其它 ---
checkpoints_itm_instructblip 
flickr_30k
instructblip-vicuna-7b
Depth-Anything-V2-Small-hf
checkpoints_itm_fusion
checkpoints_itm_cross_attn
images/
vit-base-patch16-224/
checkpoints_itm_cross_attn_with_depth/
checkpoints_itm_cross_attn_with_depth_qformer/
checkpoints_itm_cross_attn_with_depth_qformer_vit/
checkpoints_itm_cross_attn_with_depth_qformer_vit_v1/
output/
datasets/
checkpoint/
dataset_waypoint/
logs/
lora_weight/
test.jpeg
test_data/